* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* dop */

/* dop */

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.section {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.section-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.header {
  position: relative;
  z-index: 1;
  padding: 50px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/header-fon/header-fon.jpg");
  background-size: cover;
  color: white;
  /* filter: brightness(0.8); */
}

.header-tel {
  color: white;
  transition: 0.2;
}

.header-tel:hover {
  color: rgb(204, 204, 204);
}

.header-contacts {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.main-title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portrolio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portrolio-list__item {
  height: 360px;
  width: 30%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
}

.portrolio-list__item:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
}

.portrolio-list__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.quote {
  background-color: #000000bf;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/quote/quote.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.proofs-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.proofs-list__item:nth-child(2) {
  flex-direction: row-reverse;
}

.proofs-list__text {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 100px;
  font-size: 20px;
  font-weight: 300;

  border-radius: 10px;
  margin: 50px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

  transition: 0.2s;
}

.proofs-list__text:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.proofs-list__img {
  width: 500px;
  height: 400px;
  min-height: 400px;
  min-width: 500px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.36);
}

.section-title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 40px;
}

.price {
  background-image: url("../images/price-fon/price-fon.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  /* filter: brightness(0.8); */
}

.price-list {
  padding: 20px;
}

.price-list__item {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.contacts-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 300;
}

.contacts-link {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contacts-tel {
  color: black; 
}

.contacts-tel:hover {
  color: rgb(73, 73, 73);
}

.contacts-img {
  display: block;
  width: 100%;
  height: 100%;
}

.map {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 1230px) {
  .container {
    width: 768px;
  }

  .portrolio-list__item {
    width: 48%;
  }

  .proofs-list__item,
  .proofs-list__item:nth-child(2) {
    flex-direction: column-reverse;
  }

  .proofs-list__text {
    margin-bottom: 0;
  }

  .proofs-list__img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 450px;
  }
  
  .header {
    padding: 30px;
  }

  .portrolio-list__item {
    width: 100%;
  }

  .proofs-list__item {
    margin-bottom: 50px;
  }

  .proofs-list__text {
    margin: 0;
    width: 100%;
    padding: 20px 40px;
  }

  .proofs-list__img {
    min-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .container {
    width: 320px;
  }

  .section-title {
    margin-bottom: 50px;
  }
  
  .header-contacts {
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    font-size: 38px;
  }

  .quote {
    padding: 100px 10px;
  }

  .price-list__item {
    font-size: 17px;
  }

  .portrolio-list__item {
    width: 100%;
  }

  .proofs-list__item {
    margin-bottom: 50px;
  }

  .proofs-list__text {
    margin: 0;
    width: 100%;
    padding: 20px 40px;
  }

  .proofs-list__img {
    min-width: 100%;
    margin-bottom: 30px;
  }
}